.menu {
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #aaa;
    list-style: none;
    position: fixed;
    top: 0px;
    left: -200px; 
    transition: transform 0.5s ease-in-out;
    margin: 0px;
    padding: 10px;
    z-index: 1000;
}

.menuAbierto {
    transform: translateX(200px);
}