.navBar {
    background-color: #55254e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .color1 {color: #55254e;}
  .color2 {color: #82366e;}
  .color3 {color: #ca5095;}
  .color4 {color: #ff7dc6;}
  .color5 {color: #ffaef3;}
  
  .menu {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    background-color: #82366e;
    list-style: none;
    position: fixed;
    top: -300px;
    left: 0px; 
    transition: all 0.5s ease-in-out;
    margin: 0px;
    padding: 10px;
    z-index: 1000;
}

.menuAbierto {
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #82366e;
    list-style: none;
    position: fixed;
    top: -100px;
    left: 0px; 
    transition: all 0.5s ease-in-out;
    margin: 0px;
    padding: 10px;
    z-index: 1000;
    transform: translateY(100px);
}

  .itbankLogo{
    padding: 10px;    
  }
  .itbankboton{
    background-color: transparent;
    border: none;
    text-decoration: none;    
  }
  
  
  .navBarLogo {
    font-size: 24px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;    
  }
  
  .navBarLogo:hover {
    color: #ff7dc6;
  }
  
  .navBarList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  /* animacion para subrayado */
  .navBarListElem {
      position: relative;
      list-style: none;
      margin: 20px; 
    }
    
    .navBarListElem a {
      text-decoration: none;
      color: #fff; 
      transition: color 0.3s; 
    }
    
    .navBarListElem a:hover {
      color: #ff7dc6; 
    }

    .iconoUsuario:hover{
      fill:#ff7dc6;
    }
    
    .navBarListElem a::before {
      content: "";
      position: absolute;
      bottom: -3px; 
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ff7dc6; 
      transform: scaleX(0); 
      transform-origin: left;
      transition: transform 0.3s ease; 
    }
    
    .navBarListElem a:hover::before {
      transform: scaleX(1); 
    }
    
  /* fin de animacion*/
  
  
  .navBarListElem {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .navBarUsuario {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navBarUsuario li {
    margin-right: 20px;
  }
  
  .navBarUsuario li :hover {
      color: #ff7dc6;
  }
  
  .navBarUsuario a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .iconoUsuario{
    fill: #fafafa;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
  }