.formulario {
  width: 90%;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #3a4963;
  border-radius: 10px;
  margin: 20px 5%;
}

.formulario h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.formulario h5 {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    text-align: left;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.inputText {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  margin: 20px auto;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333333;
  outline: none;
  transition: all 0.3s ease;
}

.inputText:focus {
  border: 1px solid #333333;
}

.select {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  margin: 20px auto;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333333;
  outline: none;
  transition: all 0.3s ease;
}

.select:focus {
  border: 1px solid #333333;
}

.option {
  font-size: 15px;
  color: #333333;
}

.resultados {
    width: 90%;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #3a4963;
    border-radius: 10px;
    margin: 0px 5%;
}

.boton {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #3a4963;
  margin: 20px auto;
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: #3a4963;
  cursor: pointer;
}

.boton:hover {
    background-color: #d2d2d2;
    color: #000;
}

