.contenedor{
  margin: 20px;
}


.listaDeudas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  list-style-type: none;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin: 15px 5%;
  padding: 20px;
}

.listaDeudas h3 {
  margin: 10px;
}

.totales {
  display: flex;
  justify-content: space-between;
}

.botonPagarTotal {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #3a4963;
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s ease;
  background-color: #3a4963;
  cursor: pointer;
}

.botonPagarTotal:hover {
    background-color: #d2d2d2;
    color: #000;
}

.cabeceraDeudas {
  display: flex;
  padding-left: 10%;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

.filaDeudas {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style-type: none;
  border-bottom: 1px solid #ccc;  
}

.checkboxDeuda {
  width: 10%;
  display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxDeuda input:hover {
  cursor: pointer;
}

.descripcionDeuda {
  width: 60%;
}

.importeDeuda {
  width: 15%;
}   

.vencimientoDeuda {
    width: 15%;
}